<div bsModal #chooseModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<modal-header (closeClick)="dismiss()">
				{{title}}
			</modal-header>
			<div class="modal-body clearfix">
				<div class="row">
					@if(prompt) {
						<div class="col-12">
							{{prompt}}
						</div>
					}
					<div class="col-12 clearfix">
						<div class="btn-group float-end" role="group">
							@for(button of buttons; track $index) {
								<button class="btn"
									role="button"
									[class.btn-light]="button !== defaultButton"
									[class.btn-primary]="button === defaultButton"
									(click)="choose(button)"
								>
									{{button}}
								</button>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
