<div bsModal #createRoomModal="bs-modal" (onHidden)="createRoomForm.resetForm()" (onShown)="roomNameText.focus();" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<modal-header (closeClick)="hide()">
				Create Room
			</modal-header>
			<div class="modal-body">
				<form (ngSubmit)="createRoom()" class="clearfix" #createRoomForm="ngForm" autocomplete="off">
					<div class="form-group">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<fa-icon icon="door-open"></fa-icon>
								</div>
							</div>
							<input type="text" class="form-control" placeholder="Room Name" [stringValidationRules]="roomNameRules" [(ngModel)]="roomName" #roomNameText name="room-name" autocomplete="off"/>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<fa-icon icon="lock"></fa-icon>
								</div>
							</div>
							<input type="password" class="form-control" placeholder="Password (optional)" [stringValidationRules]="roomPasswordRules" [(ngModel)]="password" name="room-password" autocomplete="off"/>
						</div>
					</div>
					<button class="btn btn-primary float-end" [disabled]="!createRoomForm.form.valid">
						Create
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
