<div class="modal-header">
	<h4 class="modal-title">
		<ng-content></ng-content>
	</h4>
	@if(showCloseButton) {
		<button type="button" class="btn-close" (click)="closeClick.emit()" aria-label="Close"></button>
	}
</div>
