<div bsModal #joinRoomModal="bs-modal" (onHidden)="joinRoomForm.resetForm()" (onShown)="roomPasswordText.focus();" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<modal-header (closeClick)="hide()">
				Join Room
			</modal-header>
			<div class="modal-body">
				<form (ngSubmit)="joinRoom()" class="clearfix" #joinRoomForm="ngForm" autocomplete="off">
					<div class="form-group">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<fa-icon icon="door-closed"></fa-icon>
								</div>
							</div>
							<input type="text" class="form-control" [value]="room?.name" name="room-name" readonly="readonly" autocomplete="off"/>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<fa-icon icon="key"></fa-icon>
								</div>
							</div>
							<input type="password" class="form-control" placeholder="Password" [stringValidationRules]="roomPasswordRules" #roomPasswordText [(ngModel)]="password" name="room-password" autocomplete="off"/>
						</div>
					</div>
					<button class="btn btn-primary float-end" [disabled]="!joinRoomForm.form.valid">
						Join
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
