<div bsModal #newGameModal="bs-modal" (onHidden)="newGameForm.resetForm()" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<modal-header (closeClick)="hide()">
				New Game
			</modal-header>
			<div class="modal-body">
				<form (ngSubmit)="newGame()" class="clearfix" #newGameForm="ngForm" autocomplete="off">
					<div class="row d-flex align-items-center mb-2">
						<div class="col-8">
							<label class="my-0">
								Rules
							</label>
						</div>
						<div class="col-4">
							<div class="btn-group dropdown w-100" dropdown #rulesDropdown="bs-dropdown" placement="bottom right">
								<button class="btn dropdown-toggle text-end w-100" type="button" dropdownToggle>
									{{rules.name}}
									<span class="caret"></span>
								</button>
								<div *dropdownMenu class="dropdown-menu dropdown-menu-end dropdown-menu-right">
									@for(availableRule of availableRules; track $index) {
										<button class="dropdown-item text-end" type="button"
											[class.active]="rules === availableRule"
											(click)="selectRules( availableRule ); rulesDropdown.hide()"
										>
											{{availableRule.name}}
										</button>
									}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							Width
						</div>
						<div class ="col-4">
							<div class="btn-group dropdown w-100" dropdown #widthDropdown="bs-dropdown" placement="bottom right">
								<button class="btn dropdown-toggle text-end w-100" type="button" dropdownToggle>
									{{selectedWidth}}
									<span class="caret"></span>
								</button>
								<div *dropdownMenu class="dropdown-menu dropdown-menu-end dropdown-menu-right">
									@for(availableWidth of availableWidths; track availableWidth) {
										<button class="dropdown-item text-end" type="button"
											[class.active]="selectedWidth === availableWidth"
											(click)="selectedWidth = availableWidth; widthDropdown.hide()"
										>
											{{availableWidth}}
										</button>
									}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							Height
						</div>
						<div class ="col-4">
							<div class="btn-group dropdown w-100" dropdown #heightDropdown="bs-dropdown" placement="bottom right">
								<button class="btn dropdown-toggle text-end w-100" type="button" dropdownToggle>
									{{selectedHeight}}
									<span class="caret"></span>
								</button>
								<div *dropdownMenu class="dropdown-menu dropdown-menu-end dropdown-menu-right">
									@for(availableHeight of availableHeights; track availableHeight) {
										<button class="dropdown-item text-end" type="button"
											[class.active]="selectedHeight === availableHeight"
											(click)="selectedHeight = availableHeight; heightDropdown.hide();"
										>
											{{availableHeight}}
										</button>
									}
								</div>
							</div>
						</div>
					</div>
					<div class="row d-flex align-items-center mb-2">
						<div class="col-6">
							<label class="my-0">
								Colors
							</label>
						</div>
						<div class="col-6">
							<table class="table">
								<thead>
									<tr>
										<th class="p-1" scope="col">#</th>
										<th class="p-1" scope="col">Color</th>
									</tr>
								</thead>
								<tbody>
									@for(selectedColor of selectedColors; let i = $index; track i) {
										<tr>
											<td class="p-1 align-middle">{{i+1}}</td>
											<td class="p-1">
												<div class="input-group w-100 dropdown color-dropdown" dropdown #colorDropdown="bs-dropdown" placement="bottom right">
													<button class="btn dropdown-toggle text-end w-100" type="button" dropdownToggle
														[style.background-color]="selectedColor.color | color"
														[style.color]="contrastColor(selectedColor.color) | color"
													>
														{{selectedColor.displayName}}
														<span class="caret"></span>
													</button>
													<div *dropdownMenu class="dropdown-menu dropdown-menu-end dropdown-menu-right my-0 py-0">
														@for(availableColor of getAvailableColors(i); track $index) {
															<button class="dropdown-item text-end" type="button"
																[style.background-color]="availableColor.color | color"
																[style.color]="contrastColor(availableColor.color) | color"
																[class.active]="selectedColor === availableColor"
																(click)="selectedColors[ i ] = availableColor; colorDropdown.hide();"
															>
																{{availableColor.displayName}}
															</button>
														}
													</div>
												</div>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
					<button class="btn btn-primary float-end" [disabled]="!newGameForm.form.valid">
						Start
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
