:host > .row { position: relative; }
.loading { background: #ddd;
	& fa-icon { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
	& canvas { opacity: 0; visibility: hidden; }
}
canvas { object-fit: contain; border-radius: 9%;
	&,
	&:focus { -webkit-touch-callout: none; user-select: none; outline: none; -webkit-tap-highlight-color: transparent; }
}
