<div class="row">
	<div class="col-12" [class.loading]="isLoading">
		@if(isLoading) {
			<fa-icon icon="spinner" transform="grow-5" animation="spin"></fa-icon>
		}
		<canvas
			#canvasElement>
		</canvas>
	</div>
</div>
@if(showFps) {
	<FpsPanel></FpsPanel>
}
