<ng-template #messageTemplate let-message="message">
	@if(message) {
		<div class="list-group-item">
			@if(message.user) {
				<h4 class="list-group-item-heading text-muted">{{message.user}}</h4>
			}
			<div class="list-group-item-text" [innerHtml]="message.message | markdown"></div>
		</div>
	}
</ng-template>
<div class="row">
	<div class="col-12 mb-1">
		<form (ngSubmit)="sendMessage()" #messageForm="ngForm" autocomplete="off">
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" required="required" placeholder="Enter message" [(ngModel)]="text" name="text" autocomplete="off"
						#textbox
						(blur)="textbox.value || messageForm.resetForm()"
						[stringValidationRules]="isCommand ? commandRules : chatMessageRules"
						commandValidation
					/>
					<button [disabled]="!messageForm.form.valid" class="btn input-group-append px-0">
						@if( isCommand ) {
							<fa-icon icon="terminal"></fa-icon>
						} @else {
							<fa-icon [icon]="[ 'far', 'comment' ]"></fa-icon>
						}
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-12">
		<div class="list-group" auto-scroll
			[scroll-direction]="scrollDirection"
			[class.flex-column-reverse]="scrollDirection === 'up'"
			#chatContainer
		>
			@for(message of messages; track $index) {
				<ng-container [ngTemplateOutlet]="messageTemplate" [ngTemplateOutletContext]="{ message: message }"></ng-container>
			}
		</div>
	</div>
</div>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
	<div #toast class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header justify-content-end">
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body">
			<ng-container [ngTemplateOutlet]="messageTemplate" [ngTemplateOutletContext]="{ message: recentMessage }"></ng-container>
		</div>
	</div>
</div>
