<div class="row">
	<div class="col-12">
		@if(gameState) {
			<board [gameState]="gameState" [colors]="colors" (click)="onClick($event)" (mousemove)="onMouseMove($event)"></board>
		} @else {
			<div class="no-game d-flex align-items-center justify-content-center">
				No game in progress, click to start a new game.
			</div>
		}
	</div>
</div>
<modal-new-game #newGameModal></modal-new-game>
