<div class="row">
	<div class="col-12 mb-1">
		<div class="list-group">
			@for(room of rooms; track room.id) {
				<div class="list-group-item d-flex">
					<h4>{{room.name}}</h4>
					@if(joinedRoomIds.includes( room.id )) {
						<button class="btn btn-light ms-auto" (click)="showRoom(room)">
							Show
						</button>
					} @else {
						<button class="btn btn-light ms-auto" (click)="joinRoom(room)">
							@if(room.hasPassword) {
								<fa-icon class="me-1" icon="lock" transform="up-1"></fa-icon>
							}
							Join
						</button>
					}
				</div>
			} @empty {
				<div class="list-group-item">
					There are no rooms. Would you like to <a href="javascript:" (click)="createRoomModal.show()">create one</a>?
				</div>
			}
		</div>
	</div>
	<div class="col-12 clearfix mt-1">
		<button class="btn btn-primary float-end me-2" (click)="createRoomModal.show()">
			Create Room
		</button>
	</div>
</div>
<modal-create-room #createRoomModal></modal-create-room>
<modal-join-room #joinRoomModal></modal-join-room>
