<nav class="navbar navbar-light bg-light justify-content-start sticky-top pt-1 pb-0">
	<h1 class="navbar-brand py-0 ps-3">r³</h1>
	<ul class="nav nav-tabs border-bottom">
		<li class="nav-item">
			<a class="nav-link" href="javascript:"
				(click)="setRoom(null)"
				[class.active]="!currentRoomId"
			>Lobby</a>
		</li>
		@for(room of rooms; track room.id) {
			<li class="nav-item">
				<a class="nav-link" href="javascript:"
					(click)="setRoom(room.id)"
					[class.active]="currentRoomId===room.id"
				>
					<span class="text-truncate">
						{{room.name}}
					</span>
					<button class="btn close ms-2 py-0 align-top" (click)="leaveRoom(room.id)">
						<fa-icon icon="times" size="xs"></fa-icon>
					</button>
				</a>
			</li>
		}
	</ul>
</nav>
