<navigation></navigation>
<div class="container-fluid py-2">
	@if(currentRoomId) {
		<room></room>
	} @else {
		<lobby></lobby>
	}
</div>
<footer class="page-footer justify-content-between fixed-bottom py-2 my-auto bg-light text-nowrap d-none d-sm-flex">
	<a href="https://jovalent.com" target="_blank" class="mx-4">
		<fa-icon icon="globe"></fa-icon>
		Jovalent.com
	</a>
	<a href="https://twitter.com/JovalentStudios" target="_blank" class="mx-4">
		<fa-icon [icon]="[ 'fab', 'twitter' ]"></fa-icon>
		&#64;JovalentStudios
	</a>
</footer>
<modal-sign-in></modal-sign-in>
