<div class="row align-items-stretch">
	<div class="col-xl-7 col-lg-5 col-sm-6 col-12">
		<game></game>
	</div>
	<div class="col-xl-5 col-lg-7 col-sm-6 col-12">
		<scoreboard></scoreboard>
		<chat></chat>
	</div>
</div>
