@if(game) {
	<div class="row">
		@if(rules) {
			<div class="col-12">
				{{rules.name}} Rules
			</div>
		}
		<div class="col-xs-8 col-12">
			<table class="table table-sm table-bordered text-end my-2">
				<thead>
					<tr>
						<th scope="col"><span class="sr-only">Action</span></th>
						<th scope="col">Color</th>
						<th scope="col">Score</th>
						<th scope="col">Player</th>
					</tr>
				</thead>
				<tbody>
					@for(row of scores; track $index) {
						<tr [class.table-primary]="row.hasTurn">
							<td>
								@if(!row.player) {
									<button class="btn btn-light btn-sm" (click)="sit(row.seat)">
										Sit
									</button>
								}
								@if(row.me) {
									<button class="btn btn-light btn-sm" (click)="stand(row.seat)">
										Stand
									</button>
								}
							</td>
							<td>
								{{row.color}}
							</td>
							<td>
								{{row.score}}
							</td>
							<td>
								{{row.player}}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}
